@using System.Runtime.CompilerServices
@using System.Security.Claims
@using WeeControl.Frontend.ApplicationService.Anonymous.Interfaces
@using WeeControl.Frontend.ApplicationService.Common
@using WeeControl.Frontend.ApplicationService.Interfaces
@inject IUserHomeViewModel ViewModel
@inject IAuthorizationViewModel AuthorizationViewModel

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">
        <img src="images/logo.png" alt="WeeControl" width="20" height="20"/>
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
        
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>
                Home
            </NavLink>
        </li>
        @foreach(var v in ViewModel.MenuItems)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="@v.PageName">
                    <span class="oi oi-lightbulb" aria-hidden="true"></span>
                    @v.Name
                </NavLink>
            </li>
        }
        <li class="border-white"></li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="UserData">
                <span class="oi oi-pencil" aria-hidden="true"></span>
                My Account
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="@ViewModel.ChangeMyPasswordAsync">
                <span class="oi oi-lightbulb" aria-hidden="true"></span>
                Change Password
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="@Logout">
                <span class="oi oi-account-logout" aria-hidden="true"></span>
                Logout
            </NavLink>
        </li>
    </ul>
</div>


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        //await ViewModel.Init();
        StateHasChanged();
    }

    private async Task Logout()
    {
        await AuthorizationViewModel.Logout();
        
    }
}