<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        @* <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" /> *@
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            @* <NotAuthorized> *@
            @*     @if (!context.User.Identity.IsAuthenticated) *@
            @*     { *@
            @*         <RedirectToLogin/> *@
            @*     } *@
            @*     else *@
            @*     { *@
            @*         <p> *@
            @*             You are not authorized to access this resource. *@
            @*         </p> *@
            @*     } *@
            @* </NotAuthorized> *@
        </AuthorizeRouteView>
        <Authorizing>
            <text>Please wait until you become authorized.</text>
        </Authorizing>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(RestrictedLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>