
@using WeeControl.Frontend.AppService.GuiInterfaces.Home
@using Microsoft.AspNetCore.Components
@using WeeControl.Core.DataTransferObject.Contexts.Temporary.User
@inject IHomeService UserService

<MudCardHeader><h4>Please enter your username and and email address</h4></MudCardHeader>

<MudCardContent>
    <EditForm Model="@passwordResetModel" OnValidSubmit="@(() => UserService.RequestPasswordReset(passwordResetModel))">
        <DataAnnotationsValidator/>
        <div class="form-group">
            <label>Email</label>
            <InputText @bind-Value="passwordResetModel.Email" type="email" class="form-control"/>
            <ValidationMessage For="@(() => passwordResetModel.Email)"/>
        </div>
        <div class="form-group">
            <label>Username</label>
            <InputText @bind-Value="passwordResetModel.Username" class="form-control"/>
            <ValidationMessage For="@(() => passwordResetModel.Username)"/>
        </div>
        <MudButton
            ButtonType="ButtonType.Submit"
            Variant="Variant.Filled"
            Color="Color.Primary"
            Disabled="@false"
            Class="ml-auto">
            @if (false)
            {
                <span class="spinner-border spinner-border-sm mr-1"></span>
            }
            Reset Password
        </MudButton>
    </EditForm>
</MudCardContent>

@code {
    private readonly UserPasswordResetRequestDto passwordResetModel = new();
}