@using Microsoft.AspNetCore.Components
@using WeeControl.Core.DataTransferObject.Contexts.User
@using WeeControl.Frontend.AppService.GuiInterfaces.Home
@using WeeControl.Host.WebApiService.Contexts.User

@inject IRegisterService RegisterService
@inject IHomeService UserService

<MudCardHeader>
    <h4>Please fill the below form:</h4>
</MudCardHeader>

<MudCardContent>
    <EditForm Model="@registerModel" OnValidSubmit="@(() => RegisterService.ResisterEmployee(registerModel))">
        <DataAnnotationsValidator/>
        <MudGrid>
            <MudItem xs="3">
                <MudTextField Label="First Name" HelperText="Max. 8 characters"
                              @bind-Value="@registerModel.Person.FirstName" For="@(() => registerModel.Person.FirstName)"/>
            </MudItem>
            <MudItem xs="3">
                <MudTextField Label="Second Name" HelperText="Max. 8 characters"
                              @bind-Value="@registerModel.Person.SecondName" For="@(() => registerModel.Person.SecondName)"/>
            </MudItem>
            <MudItem xs="3">
                <MudTextField Label="Third name" HelperText="Max. 8 characters"
                              @bind-Value="@registerModel.Person.ThirdName" For="@(() => registerModel.Person.ThirdName)"/>
            </MudItem>
            <MudItem xs="3">
                <MudTextField Label="Last name" HelperText="Max. 8 characters"
                              @bind-Value="@registerModel.Person.LastName" For="@(() => registerModel.Person.LastName)"/>
            </MudItem>
        </MudGrid>
        <MudSelect T="string" Label="Nationality" AnchorOrigin="Origin.BottomCenter" @bind-Value="@registerModel.Person.NationalityCode">
            @foreach (var t in UserService.Countries)
            {
                <MudSelectItem Value="@(t.CountryCode)">@t.CountryCode: @t.CountryName</MudSelectItem>
            }
        </MudSelect>
        <MudSelect T="string" Label="Current Residency" AnchorOrigin="Origin.BottomCenter" @bind-Value="@registerModel.Person.NationalityCode">
            @foreach (var t in UserService.Countries)
            {
                <MudSelectItem Value="@(t.CountryCode)">@t.CountryCode: @t.CountryName</MudSelectItem>
            }
        </MudSelect>
        
        <MudTextField Label="Email" Class="mt-3"
                      @bind-Value="@registerModel.User.Email" For="@(() => registerModel.User.Email)"/>
        
        <MudTextField Label="Username" HelperText="@usernameHelperText"
                      @bind-Value="@registerModel.User.Username" For="@(() => registerModel.User.Username)"
                      DebounceInterval="500" OnDebounceIntervalElapsed="UserNameChanged"/>
        
        <MudTextField Label="Password" HelperText="Choose a strong password" Class="mt-3"
                      @bind-Value="@registerModel.User.Password" For="@(() => registerModel.User.Password)" InputType="InputType.Password"/>
        <MudTextField Label="Confirm Password" HelperText="Repeat the password" Class="mt-3"
                      @bind-Value="@passwordConfirmationString" For="@(() => passwordConfirmationString)" InputType="InputType.Password"/>
        <MudTextField Label="Mobile Number" HelperText="Max. 8 characters"
                      @bind-Value="@registerModel.User.MobileNo" For="@(() => registerModel.User.MobileNo)"/>
        
        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Register</MudButton>
    </EditForm>
</MudCardContent>

@code {
    private readonly EmployeeRegisterDto registerModel = new();
    private string passwordConfirmationString;
    private string usernameHelperText;

    private Task UserNameChanged(string text)
    {
        return Task.CompletedTask;
    }
}