@page "/NewPassword"
@page "/Authentication/NewPassword"
@using Microsoft.AspNetCore.Components
@using WeeControl.User.Wasm.Shared
@using WeeControl.SharedKernel.Essential
@using WeeControl.SharedKernel.Essential.DataTransferObjects
@layout RestrictedLayout

@attribute [AllowAnonymous]
@inject NavigationManager NavManager
@inject IUserService UserService

<div class="card">
    <h4 class="card-header">Please enter your new password</h4>
    <div class="card-body">
        <EditForm Model="@dtoV1" OnValidSubmit="SetNewPassword">
            <DataAnnotationsValidator/>
            <div class="form-group">
                <label>Old Password</label>
                <InputText @bind-Value="dtoV1.OldPassword" type="password" class="form-control"/>
                <ValidationMessage For="@(() => dtoV1.OldPassword)"/>
                </div>
            <div class="form-group">
                <label>New Password</label>
                <InputText @bind-Value="dtoV1.NewPassword" type="password" class="form-control"/>
                <ValidationMessage For="@(() => dtoV1.NewPassword)"/>
            </div>
            <div class="form-group">
                <label>Repeat Password</label>
                <InputText @bind-Value="dtoV1.ConfirmNewPassword" type="password" class="form-control"/>
                <ValidationMessage For="@(() => dtoV1.ConfirmNewPassword)"/>
            </div>
            <button class="btn btn-primary">
                @if (loading)
                {
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                Save
            </button>
            @if (!string.IsNullOrEmpty(stringAlert))
            {
                <div class="alert alert-danger mt-3 mb-0">@stringAlert</div>
            }
        </EditForm>
    </div>
</div>

@code
{
    private readonly MeForgotPasswordDtoV1 dtoV1 = new();
    private bool loading;
    private string stringAlert;

    private async Task SetNewPassword()
    {
        loading = true;
        await UserService.UpdatePasswordAsync(dtoV1);
        dtoV1.OldPassword = string.Empty;
        loading = false;
    }
}