@page "/Login"
@page "/authentication/login"
@layout RestrictedLayout
@attribute [AllowAnonymous]

@inject NavigationManager navManager
@inject IUserOperation authentication
@using WeeControl.Common.SharedKernel.DataTransferObjects.Essential.User

<div class="card">
    <h4 class="card-header">Please enter your username and password</h4>
    <div class="card-body">
        <EditForm Model="@loginDto" OnValidSubmit="ProcessLoginAsync">
            <DataAnnotationsValidator/>
            <div class="form-group">
                <label>Username or Email</label>
                <InputText @bind-Value="loginDto.UsernameOrEmail" class="form-control"/>
                <ValidationMessage For="@(() => loginDto.UsernameOrEmail)"/>
            </div>
            <div class="form-group">
                <label>Password</label>
                <InputText @bind-Value="loginDto.Password" type="password" class="form-control"/>
                <ValidationMessage For="@(() => loginDto.Password)"/>
            </div>
            <button class="btn btn-primary">
                @if (loading)
                {
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                Login
            </button>
            <button class="btn btn-secondary" @onclick="@RequestPasswordReset">Forgot Password</button>
            @if (!string.IsNullOrEmpty(stringAlert))
            {
                <div class="alert alert-danger mt-3 mb-0">@stringAlert</div>
            }
            <button class="btn btn-outline-secondary" @onclick="@Register">Register</button>
        </EditForm>
    </div>
</div>

@code
{
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }
    
    private readonly LoginDto loginDto = new();
    private bool loading;
    private string stringAlert;

    protected override async void OnInitialized()
    {
        await base.OnInitializedAsync();
        
        var authenticated = (await AuthState)?.User?.Identity?.IsAuthenticated;
        if (authenticated != null && authenticated == true)
        {
            navManager.NavigateTo("/Home");
        }

        loginDto.Password = string.Empty;
    }

    private async Task ProcessLoginAsync()
    {
        loading = true;
        try
        {
            var response = await authentication.LoginAsync(loginDto);
            if (response.IsSuccess)
            {
                StateHasChanged();
                navManager.NavigateTo("/Home", true);
            }
            else
            {
                stringAlert = response.MessageToUser;
            }

            loginDto.Password = string.Empty;
        }
        catch (Exception e)
        {
            stringAlert = e.GetType() + e.Message + e.StackTrace;
        }

        loading = false;
    }

    private Task RequestPasswordReset()
    {
        navManager.NavigateTo("/ForgotPassword");
        return Task.CompletedTask;
    }

    private Task Register()
    {
        navManager.NavigateTo("/Register");
        return Task.CompletedTask;
    }
}