@using WeeControl.Frontend.ApplicationService.Essential.ViewModels
@inject TerritoryLegacyViewModel LegacyViewModel

<h3>TerritoryComponent</h3>
<button class="btn btn-primary" @onclick="@LegacyViewModel.GetListOfTerritories" disabled="@LegacyViewModel.IsLoading">Refresh</button>

@if (LegacyViewModel.IsLoading || LegacyViewModel.ListOfTerritories is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">Code</th>
            <th scope="col">Report To</th>
            <th scope="col">Name</th>>
            <th scope="col">Country</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var t in LegacyViewModel.ListOfTerritories)
        {
            <tr>
                <td>@t.TerritoryCode</td>
                <td>@t.ReportToId</td>
                <td>@t.TerritoryName</td>
                <td>@t.CountryCode</td>
            </tr>
        }
        </tbody>
    </table>
}



@code {
    protected override async Task OnInitializedAsync()
    {
        await LegacyViewModel.GetListOfTerritories();
        await base.OnInitializedAsync();
    }
}