@page "/TerritoryPage"
@using System.Linq.Expressions
@using WeeControl.Frontend.ApplicationService.Interfaces

@inject TerritoryViewModel ViewModel
@inject IPersistedLists Lists

<MudPaper>
    <MudToolBar>
        <MudIconButton Icon="@Icons.Material.Outlined.Add" OnClick="@AddNewTerritory" />
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Outlined.Refresh" OnClick="@ViewModel.GetListOfTerritories"/>
    </MudToolBar>
    
    <MudPaper hidden="@hideAddTerritory" Elevation="5">
        <EditForm Model="@selectedItem" OnInvalidSubmit="@SaveToServer">
            <DataAnnotationsValidator/>
        </EditForm>
        <MudCard>
            <MudCardHeader>
                <h4>Territory Details</h4>
            </MudCardHeader>
            <MudCardContent>
                <MudGrid Spacing="3">
                    <MudItem>
                        <MudTextField Label="Code" 
                                      HelperText="Territory Code"
                                      @bind-value="@selectedItem.TerritoryCode" @bind-Text="@selectedItem.TerritoryCode"
                                      For="@(() => selectedItem.TerritoryCode)">
                        </MudTextField>
                    </MudItem>
                    <MudItem>
                        <MudSelect T="string" Label="Report To" AnchorOrigin="Origin.BottomCenter" @bind-Value="@selectedItem.ReportToId">
                            @foreach (var l in @ViewModel.ListOfTerritories)
                            {
                                <MudSelectItem Value="@(l.TerritoryCode)">@l.TerritoryCode</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem>
                        <MudSelect T="string" Label="Country" AnchorOrigin="Origin.BottomCenter" @bind-Value="@selectedItem.CountryCode">
                            @foreach (var l in Lists.Countries)
                            {
                                <MudSelectItem Value="@(l.CountryCode)">@l.CountryName</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem>
                        <MudTextField Label="Name"
                                      HelperText="Territory Name"
                                      @bind-value="@selectedItem.TerritoryName" @bind-Text="@selectedItem.TerritoryName"
                                      For="@(() => selectedItem.TerritoryName)">
                        </MudTextField>
                    </MudItem>
                    <MudItem>
                        <MudTextField Label="Local Name"
                                      HelperText="Territory Alternative Name"
                                      @bind-value="@selectedItem.LocalName" @bind-Text="@selectedItem.LocalName"
                                      For="@(() => selectedItem.LocalName)">
                        </MudTextField>
                    </MudItem>
                </MudGrid>
            </MudCardContent>
            <MudCardActions>
                <MudButton ButtonType="ButtonType.Submit" @onclick="@SaveToServer" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" Size="Size.Small">Save</MudButton>
                <MudButton @onclick="@CancelEditFields" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Close" Color="Color.Secondary" Size="Size.Small">Cancel</MudButton>
            </MudCardActions>
        </MudCard>
        <MudSpacer></MudSpacer>
    </MudPaper>

    <MudTable T="@TerritoryModel" Loading="@ViewModel.IsLoading" Hover="true" Items="@ViewModel.ListOfTerritories" Filter="new Func<TerritoryModel,bool>(FilterFunc1)" @bind-SelectedItem="selectedItemFromTable">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Territories</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Code</MudTh>
            <MudTh>Report To</MudTh>
            <MudTh>Country</MudTh>
            <MudTh>Name</MudTh>
            <MudTh>Name</MudTh>
        </HeaderContent>
        <RowTemplate>
                <MudTd DataLabel="Nr">@context.TerritoryCode</MudTd>
                <MudTd DataLabel="Sign">@context.ReportToId</MudTd>
                <MudTd DataLabel="Name">@context.CountryCode</MudTd>
                <MudTd DataLabel="Position">@context.TerritoryName</MudTd>
                <MudTd DataLabel="Molar mass">@context.LocalName</MudTd>
            @if (selectedItemFromTable?.TerritoryCode == @context.TerritoryCode)
            {
                <MudIconButton Icon="@Icons.Material.Outlined.Edit" OnClick="@EditCurrentTerritory" />
            }
            else
            {
                <MudIconButton Icon="@Icons.Material.Outlined.Edit" Disabled="true" />
            }
        </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
    </MudTable>
</MudPaper>

@code {
    private bool hideAddTerritory = true;
    private string searchString1 = string.Empty;
    private TerritoryModel selectedItemFromTable = null;
    private TerritoryModel selectedItem = new TerritoryModel();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await ViewModel.GetListOfTerritories();
    }

    private void AddNewTerritory()
    {
        hideAddTerritory = false;
    }

    private void EditCurrentTerritory()
    {
        selectedItem.CountryCode = selectedItemFromTable.CountryCode;
        selectedItem.LocalName = selectedItemFromTable.LocalName;
        selectedItem.TerritoryCode = selectedItemFromTable.TerritoryCode;
        selectedItem.ReportToId = selectedItemFromTable.ReportToId;
        selectedItem.TerritoryName = selectedItemFromTable.TerritoryName;
        StateHasChanged();
        hideAddTerritory = false;
    }

    private async Task SaveToServer()
    {
        await ViewModel.AddOrUpdateTerritory(selectedItem);
        CancelEditFields();
        await ViewModel.GetListOfTerritories();
    }

    private void CancelEditFields()
    {
        hideAddTerritory = true;
        selectedItem.TerritoryCode = string.Empty;
        selectedItem.ReportToId = string.Empty;
        selectedItem.TerritoryName = string.Empty;
        selectedItem.LocalName = string.Empty;
        selectedItem.CountryCode = string.Empty;
    }

    private bool FilterFunc1(TerritoryModel element) => FilterFunc(element, searchString1);

    private bool FilterFunc(TerritoryModel element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.TerritoryCode.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.TerritoryName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if ($"{element.TerritoryCode} {element.TerritoryCode} {element.LocalName}".Contains(searchString))
            return true;
        return false;
    }
}