@using WeeControl.User.UserApplication.ViewModels.Essential
@inject TerritoryViewModel ViewModel

<h3>TerritoryComponent</h3>
<button class="btn btn-primary" @onclick="@ViewModel.GetListOfTerritories" disabled="@ViewModel.IsLoading">Refresh</button>

@if (ViewModel.IsLoading || ViewModel.ListOfTerritories is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">Code</th>
            <th scope="col">Report To</th>
            <th scope="col">Name</th>>
            <th scope="col">Country</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var t in ViewModel.ListOfTerritories)
        {
            <tr>
                <td>@t.TerritoryCode</td>
                <td>@t.ReportToId</td>
                <td>@t.TerritoryName</td>
                <td>@t.CountryCode</td>
            </tr>
        }
        </tbody>
    </table>
}



@code {
    protected override async Task OnInitializedAsync()
    {
        await ViewModel.GetListOfTerritories();
        await base.OnInitializedAsync();
    }
}